/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

*.tmp
*.pidb.meta
*.suo
log.txt
output_log.txt
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/u3demoknightlyj.sln
/.vs
/Logs
/UserSettings
/.vsconfig
/Assembly-CSharp.csproj
